.datatable .col {
  cursor: pointer;
  background-color: black;
  color: white;
}

.datatable .col .pointer:after {
  font-size: 100%;
  content: "🔻";
  margin-right: 18px;
}

.datatable .col .pointer:hover:after {
  font-size: 100%;
  content: "🔻";
  margin-right: 0;
}
